* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
}

a {
  text-decoration: none;
}

/* banner */
#main-container {
  display: flex;
  margin-top: 30px;
}

#banner-container,
#form-container {
  flex: 1 1 0;
  width: 50%;
}

#banner-container {
  text-align: right;
}

#banner-container img {
  width: 100%;
  margin: 15px 15px 0 0;
  max-width: 380px;
}

#form-container {
  text-align: center;
}

/* login */
#form-box {
  background-color: #fff;
  border: 1px solid #cfcfcf;
  margin-top: 30px;
}

#form-box,
#register-container {
  width: 350px;
}

#logo-insta {
  width: 175px;
  height: 50px;
  margin: 30px auto 15px;
}

#login-form {
  margin: 20px;
}

#login-form input {
  background-color: #fafafa;
  display: block;
  padding: 12px 9px;
  border: 1px solid #ccc;
  border-radius: 2px;
  font-size: 12px;
  width: 270px;
  margin: 5px auto;
}

#login-form input[type="submit"] {
  background-color: #07aefc;
  color: #fff;
  margin-top: 10px;
  font-weight: bold;
}

/* separator */
.separator {
  position: relative;
}

.line {
  border-top: 1px solid #ccc;
  width: 270px;
  margin: 25px auto 35px;
}

.separator span {
  position: absolute;
  text-transform: uppercase;
  color: #bbb;
  background-color: #fff;
  width: 50px;
  top: -6px;
  margin-left: -25px;
}

/* facebook */
#facebook-login {
  margin-bottom: 25px;
}

#facebook-login a {
  color: #0d18b4;
  display: flex;
  justify-content: center;
  align-items: center;
}

#facebook-login img {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}

#facebook-login span {
  font-size: 13px;
  font-weight: bold;
  margin-top: 1px;
}

/* forgot password */
#forgot-password {
  margin-bottom: 20px;
  font-size: 12px;
}

#forgot-password a {
  color: #332585;
}

/* register */
#register-container {
  border: 1px solid #ccc;
  padding: 25px;
  margin-top: 10px;
}

#register-container p {
  font-size: 14px;
}

#register-container a {
  color: #0786fc;
  font-weight: bold;
}

#get-app-container {
  text-align: center;
  width: 350px;
}

#get-app-container p {
  font-size: 13px;
  margin: 20px 0;
}

#get-app-container img {
  width: 136px;
  height: 40px;
}

#micro-btn img {
  width: 115px;
  margin-left: 5px;
}

/* footer */
footer {
  text-align: left;
  width: 1000px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footer-links {
  display: flex;
  list-style: none;
  margin-bottom: 25px;
}

#footer-links li {
  margin-right: 10px;
}

#footer-links a {
  transition: 0.5s;
}

#footer-links .bottom:hover {
  border-bottom: 1px solid #222;
}

#footer-links a,
#copy {
  color: #8e8e8e;
  font-size: 12px;
  text-decoration: none;
}

#copy-container {
  display: flex;
}

#select-lang select {
  border: none;
  color: #8e8e8e;
  margin-right: 15px;
  width: 130px;
}

#copy {
  position: relative;
  bottom: -3px;
}

/* responsividade */
@media (max-width: 450px) {
  #banner-container {
    display: none;
  }

  #main-container,
  #form-container {
    margin-top: 0;
  }

  #form-container,
  #form-box,
  #register-container,
  #get-app-container {
    width: 100%;
    border: none;
  }

  footer {
    width: 90%;
  }

  #footer-links {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
  }
}

@media (max-width: 900px) {
  #banner-container {
    display: none;
  }

  #main-container {
    padding: 14rem;
  }

  #main-container,
  #form-container {
    margin-top: 0;
  }

  #form-container,
  #form-box,
  #register-container,
  #get-app-container {
    width: 100%;
  }

  footer {
    width: 90%;
  }

  #footer-links {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
  }
}
